@keyframes close-hover-one {
  0% {
    transform: rotate(45deg) scaleX(1) translateY(0);
  }
  20% {
    transform: rotate(90deg) scaleX(0.7) translateY(-10px);
  }
  40% {
    transform: rotate(180deg) scaleX(0.7) translateY(10px);
  }
  60% {
    transform: rotate(270deg) scaleX(0.7) translateY(-10px);
  }
  80% {
    transform: rotate(360deg) scaleX(0.7) translateY(10px);
  }
  100% {
    transform: rotate(-45deg) scaleX(1) translateY(0);
  }
}

@keyframes close-hover-two {
  0% {
    transform: rotate(-45deg) scaleX(1) translateY(0);
  }
  20% {
    transform: rotate(-90deg) scaleX(0.7) translateY(-10px);
  }
  40% {
    transform: rotate(-180deg) scaleX(0.7) translateY(10px);
  }
  60% {
    transform: rotate(-270deg) scaleX(0.7) translateY(-10px);
  }
  80% {
    transform: rotate(-360deg) scaleX(0.7) translateY(10px);
  }
  100% {
    transform: rotate(45deg) scaleX(1) translateY(0);
  }
}

body {
  background: linear-gradient(
    to bottom,
    #fcf4c7 15%,
    var(--color-sora) 85%
  );
  color: var(--color-sora);
  font-family: 'pixeBoy';
  font-size: clamp(1.313rem, 3.5vw, 1.75rem);
}

header {
  padding-inline: 8vw;
	padding-top: 2rem;
	position: relative;
	margin-bottom: 3rem;
	z-index: 0;
}

header #cyclone-studios-logo {
	margin-inline: auto;
	opacity: 0.1;
	transition: opacity 380ms ease-in-out;
	width: min(100vw, 888px);
}

body:has(main .cloud-encapsulator:hover) header #cyclone-studios-logo {
	opacity: 0.3;
}

main #cloud-generator-container {
  align-items: center;
  display: flex;
  gap: 1rem;
  position: relative;
	margin-inline: auto;
	width: max-content;
	z-index: 2;
}

main #cloud-generator-container #cloud-select-label {
	color: var(--color-sora);
	font-family: 'Cyclone', monospace;
	font-size: clamp(1.625rem, 4vw, 2.125rem);
	letter-spacing: 1.5px;
	padding-bottom: 5px;
	text-shadow: 0 0px 5px black;
}

main #cloud-generator-container #cloud-select-label .cyclone-font-compliment {
	font-family: 'Courier New', Courier, monospace;
	vertical-align: 3px;
}

main #cloud-generator-container #cloud-select {
  align-self: stretch;
  background: var(--color-mashumaro);
  border: 2px solid var(--color-sora);
  border-radius: 100vw;
  color: var(--color-sora);
	cursor: pointer;
  padding-inline: 0.25em;
  text-align: center;
}

main #cloud-generator-container #cloud-generate-button {
  background: var(--color-sora);
  border: 2px solid var(--color-sora);
  border-radius: 100vw;
  color: var(--color-mashumaro);
	cursor: pointer;
  padding: 3px 8px;
  transition: all 55ms ease-in-out;
}

main #cloud-generator-container #cloud-generate-button:hover {
  opacity: 0.88;
}

main #cloud-generator-container #cloud-generate-button:active {
  transform: scale(0.95);
}

main #sky {
  display: grid;
  place-items: center;
  height: 100%;
  inset: 0;
  position: absolute;
  width: 100%;
	z-index: 1;
}

main #sky .cloud-encapsulator {
  --_cloud-transition: all 500ms ease-in-out;

  aspect-ratio: 1 / 1;
	cursor: pointer;
  display: grid;
  grid-template-areas: 'mid';
  position: relative;
  place-items: center;
	transition: all 1.4s cubic-bezier(0.19, 1, 0.22, 1);
  width: 155px;
}

main #sky .cloud-encapsulator:hover {
  animation-play-state: paused;
}

main #sky .cloud-encapsulator > * {
  grid-area: mid;
}

main #sky .cloud-encapsulator .cloud-svg {
  fill: #faf2ef;
  filter: drop-shadow(0 0 1px silver); /* silver lining 🤭 */
  height: 100%;
  transition: var(--_cloud-transition);
  width: 100%;
  z-index: 0;
}

main #sky .cloud-encapsulator:hover .cloud-svg {
  transform: scale(1.1);
}

main #sky .cloud-encapsulator .cloud-type-text {
  color: var(--color-sora);
  font-size: 1rem;
  opacity: 0;
  transition: var(--_cloud-transition) 380ms;
  z-index: 1;
}

main #sky .cloud-encapsulator:hover .cloud-type-text {
  opacity: 1;
  transform: scale(1.25);
}

main #sky .cloud-encapsulator .cloud-dissipate-button {
  aspect-ratio: 1 / 1;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: scale(0) rotate(0);
  transition: 380ms transform ease-in-out, opacity 500ms ease-in-out;
  right: 0;
}

main #sky .cloud-encapsulator:hover .cloud-dissipate-button {
  opacity: 1;
  transform: scale(1);
  transition: 380ms transform ease-in-out, opacity 500ms ease-in-out 380ms;
}

main #sky .cloud-encapsulator .cloud-dissipate-button:hover {
  transform: scale(1.3) rotate(360deg);
  transition: 380ms transform ease-in-out;
}

main #sky .cloud-encapsulator .cloud-dissipate-button:active {
	transform: scale(1) rotate(360deg);
	transition: transform 55ms ease-in-out;
}

main #sky .cloud-encapsulator .cloud-dissipate-button::before,
main #sky .cloud-encapsulator .cloud-dissipate-button::after {
  background-color: red;
  border-radius: 100vw;
  content: '';
  height: 3px;
  inset: 0;
  margin: auto;
  position: absolute;
  width: 100%;
}

main #sky .cloud-encapsulator .cloud-dissipate-button::before {
  transform: rotate(45deg);
}

main #sky .cloud-encapsulator .cloud-dissipate-button:hover::before {
  animation: 3s close-hover-one ease-in-out infinite alternate;
}

main #sky .cloud-encapsulator .cloud-dissipate-button::after {
  transform: rotate(-45deg);
}

main #sky .cloud-encapsulator .cloud-dissipate-button:hover::after {
  animation: 3s close-hover-two 380ms ease-in-out infinite alternate;
}

main #sky .cloud-encapsulator .cloud-dissipate-button:active::before,
main #sky .cloud-encapsulator .cloud-dissipate-button:active::after {
	animation-play-state: paused;
}

main #cloud-count-container {
  bottom: 3rem;
  color: var(--color-mashumaro);
	line-height: 1;
	opacity: 0.8;
	padding: 0 1rem;
  position: absolute;
  right: 1rem;
  text-align: right;
	transition: opacity 380ms ease-in-out;
	z-index: 3;
}

main #cloud-count-container:hover {
	opacity: 1;
} 

main #cloud-count-container #cloud-count-heading {
	color: var(--color-mashumaro);
	font-family: 'Cyclone', monospace;
	font-size: clamp(1.625rem, 4vw, 2.125rem);
	padding-bottom: 5px;
}

main #cloud-count-container #cloud-count-ul {
	list-style: none;
}

main #cloud-count-container .cloud-count-li:not(:first-child) {
	font-size: clamp(1.125rem, 2vw, 1.313rem);
}

main #cloud-count-container .cloud-count-number {
	color: var(--color-binky);
	margin-left: 1rem;
	text-shadow: 0 0 8px;
}

footer {
  display: grid;
  bottom: 0;
  color: var(--color-mashumaro);
  left: 0;
  place-items: center;
  position: fixed;
  right: 0;
  text-align: center;
}
